:root { 
    --green: #33ff00; 
    --red: #ff3333; 
    --bg: #0a0a0a; 
    --curr: var(--green); 
    --shadow: 0 0 2px var(--green);
}

* { box-sizing: border-box; }

body { 
    background: #111; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0; 
    overflow: hidden; 
}

body, input, .prompt, .out, #term-body {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

#window { width: 950px; height: 650px; background: var(--bg); border: 2px solid #555; box-shadow: 0 0 20px rgba(0,0,0,0.8); display: flex; flex-direction: column; position: relative; z-index: 10; }
#title-bar { background: #333; color: #ccc; padding: 4px 10px; font-weight: bold; display: flex; justify-content: space-between; border-bottom: 2px solid #555; font-size: 13px; }

#term-body { 
    padding: 15px; 
    flex-grow: 1; 
    overflow-y: auto; 
    scrollbar-width: thin; 
    scrollbar-color: #444 #111; 
    color: #ccc; 
}

#window::after { content: " "; pointer-events: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.1) 50%), linear-gradient(90deg, rgba(255,0,0,0.03), rgba(0,255,0,0.01), rgba(0,0,255,0.03)); background-size: 100% 2px, 3px 100%; z-index: 20; opacity: 0.8; }

.out { margin-bottom: 0; white-space: pre-wrap; }

.boot-log { color: #888; text-shadow: none; } 
.std-white { color: #ccc; text-shadow: none; }

.style-guest { color: #33ff00; text-shadow: 0 0 2px #33ff00; }

.style-root { color: #ff3333; text-shadow: 0 0 1px #ff0000; }

.cmd-line { display: flex; margin-top: 0; }

.prompt { 
    margin-right: 10px; 
    white-space: nowrap; 
    color: var(--curr);
}

input { 
    background: transparent; 
    border: none; 
    color: var(--curr);
    outline: none; 
    caret-color: var(--curr);
    padding: 0; margin: 0;
    flex-grow: 1;
}

a { color: #fff; text-decoration: none; border-bottom: 1px dashed #fff; transition: all 0.2s; cursor: pointer; }
a:hover { background: var(--curr); color: #000; border: none; }
